.home-container {
  direction: rtl;
  font-family: "Heebo", sans-serif;
}

/* HERO */
.hero {
  height: 75vh; /* לא כל המסך */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 14px;
  color: #fff;
  max-width: 700px;
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.actions button {
  padding: 14px 28px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c8a97e;
  color: #1a1a1a;
  transition: 0.3s;
}

.actions button:hover {
  background-color: #e0c097;
}

.actions .secondary {
  background-color: transparent;
  border: 2px solid #c8a97e;
  color: #fff;
}

.actions .secondary:hover {
  background-color: #c8a97e;
  color: #1a1a1a;
}

/* CONTENT SECTIONS */
.section {
  padding: 80px 10%;
  background-color: #f7f5f2;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  text-align: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}



.books-scroll {
  display: flex;
  flex-wrap: nowrap;          
  gap: 24px;
  overflow-x: auto;           
  padding: 20px 0;
}


.books-scroll::-webkit-scrollbar {
  height: 8px;
}

.books-scroll::-webkit-scrollbar-thumb {
  background: #c8a97e;
  border-radius: 10px;
}
